.advantages {
  text-align: center;
  @include mq("desktop") {
    padding-top: 90px;
    padding-bottom: 70px;
    background-color: map-get($colors, backgroundGray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  @include mq("desktop-h") {
    column-gap: 50px;
  }
  &__title {
    position: relative;
    padding: 0 44px;
    @include font("Montserrat", 32px, map-get($colors, violet), 700, 38px);
    &::before {
      content: "<";
    }
    &::after {
      content: ">";
    }
    @include mq("tablet") {
      font-size: 42px;
      line-height: 44px;
    }
    @include mq("desktop") {
      grid-column-start: 2;
      grid-column-end: 3;
      font-size: 32px;
      line-height: 34px;
      align-self: end;
    }
    @include mq("desktop-h") {
      grid-column-start: 2;
      grid-column-end: 3;
      font-size: 42px;
      line-height: 44px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 64px;
    @include mq("desktop") {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  &__item {
    padding-top: 38px;
    @include mq("tablet") {
      display: grid;
      grid-template-columns: 110px auto;
      grid-column-gap: 50px;
    }
  }
  &__img {
    padding-bottom: 27px;
    @include mq("tablet") {
      padding-bottom: 0;
      align-self: center;
      justify-self: center;
    }
  }
  &__subtitle {
    @include font("Montserrat", 16px, map-get($fontColors, black), 400, 16px);
    padding-bottom: 14px;
    @include mq("tablet") {
      text-align: left;
    }
  }
  &__description {
    @include font("Montserrat", 14px, map-get($fontColors, gray), 400, 21px);
    padding: 0 24px;
    @include mq("tablet") {
      text-align: left;
      padding: 0;
    }
    @include mq("tablet-h") {
      max-width: 582px;
    }
    @include mq("desktop") {
      max-width: 335px;
    }
    @include mq("desktop-h") {
      max-width: 405px;
    }
  }
  &__code-wrap {
    height: 381px;
    position: relative;
    @include mq("tablet-h") {
      height: 519px;
    }
    @include mq("desktop") {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
  &__code-img {
    background-image: url("../dist/img/advantages_code_mobile.png");
    position: absolute;
    width: 317px;
    height: 381px;
    right: 0;
    @include mq("tablet-h") {
      background-image: url("../dist/img/advantages_code_tablet.png");
      width: 700px;
      height: 519px;
      background-repeat: no-repeat;
    }
    @include mq("desktop") {
      background-image: url("../dist/img/advantages_code_tablet.png");
      width: 550px;
      height: 400px;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
    }
    @include mq("desktop-h") {
      background-image: url("../dist/img/advantages_code_tablet.png");
      width: 700px;
      height: 519px;
      background-repeat: no-repeat;
    }
  }
}
