.btn {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 11px 25px;
  @include font("Montserrat", 15px, map-get($colors, white), 700, 15px);
  &--hover {
    &:hover {
      background: map-get($colors, white);
      border: 1px solid map-get($colors, violet);
      color: map-get($colors, violet);
    }
  }
  &__buy {
    justify-self: end;
    background: map-get($colors, violet);
    @include mq("desktop") {
      min-width: 120px;
      order: 3;
    }

  }
  &__download {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 290px;
    background: map-get($colors, violet);
    line-height: 20px;
    border: 1px solid map-get($colors, violet);
    @include font("Montserrat", 18px);
    @include mq("tablet") {
      min-width: 390px;
      line-height: 23px;
    }
  }
}
