.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
  margin: auto;
  gap: 15px;
  color: white;
  @include mq("tablet") {
    padding-top: 70px;
    gap: 20px;
  }
  @include mq("desktop") {
    padding-top: 100px;
  }
  &__title {
    @include font("Montserrat", 48px, map-get($colors, white), 700);
    @include mq("tablet") {
      font-size: 72px;
    }
    @include mq("desktop") {
      font-size: 82px;
    }
  }
  &__subtitle {
    text-transform: capitalize;
    @include font("Montserrat", 18px, map-get($colors, violet), 400);
  }
  &__description {
    @include font("Montserrat", 14px, map-get($fontColors, gray), 400);
  }
}
