.nav {
  position: relative;
  padding: 30px 15px;
  background: map-get($colors, backgroundNav);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  @include mq("tablet") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
  }
  @include mq("desktop") {
    background: transparent;
    grid-template-columns: 3fr 500px 1fr;
  }
  &__pic--hover {
    display: none;
  }
  &__logo {
    height: 42px;
    &:hover {
      .nav__pic {
        display: none;
      }
      .nav__pic--hover {
        display: inline-block;
      }
    }
    &:hover * {
      color: map-get($colors, white);
    }

    @include mq("tablet") {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  &__title {
    display: none;
    @include mq("tablet") {
      display: block;
      text-transform: uppercase;
      @include font("Lato", 24px, map-get($colors, violet), 700, 16px);
    }
  }

  &__wrap {
    display: none;
    &--active {
      position: absolute;
      display: block;
      width: calc(100% - 30px);
      bottom: -352px;
      left: 50%;
      transform: translateX(-50%);
      background: map-get($colors, backgroundVerticalNav);
    }
    @include mq("tablet") {
      grid-column: 1 / -1;
      display: block;
      order: 3;
      margin: auto;
    }
    @include mq("desktop") {
      // justify-self: end;
      grid-column: auto;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include mq("tablet") {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    @include mq("tablet-h") {
      gap: 50px;
    }
    @include mq("desktop") {
      gap: 30px;
    }
  }
  &__item {
    position: relative;
    height: 88px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.342);
    @include mq("tablet") {
      height: auto;
      padding: auto;
      border-bottom: none;
    }
    @include mq("desktop") {
    }
  }
  &__link {
    display: flex;
    align-items: center;
    padding-left: 35px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
    @include font("Montserrat", 26px, map-get($colors, white), 400);
    &--active {
      color: map-get($colors, violet);
      &::before {
        @include pseudo;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 53px;
        background: map-get($colors, violet);
      }
    }
    @include mq("tablet") {
      display: block;
      padding-left: 0;
      @include font("Montserrat", 16px, map-get($colors, violet), 700, 18px);
      &:hover {
        color: map-get($colors, white);
      }
    }
  }
}
