.price {
  text-align: center;
  background-image: url("../dist/img/price_backround.png");
  background-size: cover;
  background-position: top;
  &__title {
    position: relative;
    @include font("Montserrat", 28px, map-get($colors, white), 700, 42px);
    padding: 35px 0;
    @include mq("tablet") {
      padding-top: 109px;
      padding-bottom: 39px;
    }
    @include mq("desktop") {
      padding-top: 132px;
      padding-bottom: 80px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 245px;
      height: 2px;
      background: #645766;
      top: 25px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mq("tablet") {
        width: 350px;
      }
      @include mq("tablet-h") {
        width: 550px;
      }
      @include mq("desktop") {
        width: 780px;
      }
    }
  }
  @include mq("tablet") {
    font-size: 42px;
    line-height: 44px;
  }
  @include mq("desktop") {
    font-size: 48px;
    line-height: 50px;
  }
  &__list {
    @include mq("tablet-h") {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
    }
    @include mq("desktop") {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 15px;
    }
    @include mq("desktop-h") {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 15px;
    }
  }
  &__item {
    display: flex;
    width: 257px;
    margin: auto;
    padding: 18px 0;
    justify-content: center;
    flex-direction: column;
    @include font("Montserrat", 24px, map-get($colors, white), 400, 24px);
    @include mq("tablet-h") {
      margin: 0;
    }
  }
  &__subtitle-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97px;
    background: rgba(255, 255, 255, 0.11);
  }
  &__subtitle {
    text-transform: uppercase;
  }
  &__block {
    height: 360px;
    background: rgba(255, 255, 255, 0.06);
  }
  &__number {
    padding-top: 30px;
    font-size: 60px;
    line-height: 62px;
    font-weight: 700;
    position: relative;
    z-index: 10;
  }
  &__period {
    position: relative;
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    &::after {
      content: "";
      width: 60px;
      height: 5px;
      position: absolute;
      background: #8d81ac;
      left: 50%;
      bottom: -38px;
      transform: translate(-50%, -50%);
    }
  }
  &__product {
    padding-top: 73px;
    font-size: 16px;
    line-height: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
  &__btn {
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    width: 163px;
    height: 45px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    background: rgba(255, 255, 255, 0.11);
    margin: 37px 0;
  }

  &__item--active {
    display: flex;
    width: 299px;
    margin: auto;
    padding: 18px 0;
    justify-content: center;
    flex-direction: column;
    @include font("Montserrat", 24px, map-get($colors, white), 400, 24px);
    @include mq("tablet-h") {
      margin: 0;
    }
  }
  &__subtitle--active {
    text-transform: uppercase;
    align-self: center;
  }
  &__subtitle-background--active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 111px;
    background: rgba(46, 0, 46, 0.3);
  }
  &__block--active {
    height: 449px;
    background: #463048;
    mix-blend-mode: normal;
    opacity: 0.84;
  }
  &__number--active {
    padding-top: 30px;
    font-size: 82px;
    line-height: 84px;
    font-weight: 700;
  }
  &__period--active {
    position: relative;
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    &::after {
      content: "";
      width: 60px;
      height: 5px;
      position: absolute;
      background: #8d81ac;
      left: 50%;
      bottom: -38px;
      transform: translate(-50%, -50%);
    }
  }
  &__product--active {
    padding-top: 73px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 18px;
  }
  &__btn--active {
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    width: 163px;
    height: 45px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    background: rgba(255, 255, 255, 0.11);
    margin: 83px 0;
  }
}
