.revolution {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__promo {
    margin-top: 35px;
    @include font("Montserrat", 14px, map-get($fontColors, gray), 400, 14px);
  }
  &__title {
    text-transform: uppercase;
    margin-top: 80px;
    @include font("Montserrat", 26px, map-get($fontColors, darkViolet), 700, 28px);
    @include mq("tablet") {
      font-size: 42px;
      line-height: 42px;
      margin-top: 93px;
    }
    @include mq("desktop") {
      font-size: 54px;
      line-height: 54px;
      margin-top: 66px;
    }
  }
  &__description {
    padding: 27px 25px 36px;
    @include font("Lato", 14px, map-get($fontColors, black), 400, 20px);
    @include mq("tablet") {
      font-size: 21px;
      line-height: 32px;
      padding: 33px 40px 30px;
    }
    @include mq("desktop") {
      width: 860px;
      align-self: center;
      padding: 35px 15px;
    }
  }
}
