.reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url("../dist/img/feedback_background_mobile.png");
  background-repeat: round;
  //   background-position: center;
  @include mq("tablet") {
    background-image: url("../dist/img/feedback_background_tablet.png");
    background-repeat: cover;
  }
  @include mq("desktop") {
    background-image: url("../dist/img/feedback_background_desktop.png");
    background-repeat: repeat;
    background-position: center;
  }
  &__title {
    padding: 50px 0;
    @include font("Montserrat", 36px, map-get($colors, white), 700, 48px);
    @include mq("tablet") {
      padding: 80px 10px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    @include mq("tablet") {
      margin: auto 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 20px;
    }
    @include mq("desktop") {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    // flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 40px;
    max-width: 300px;
    @include mq("tablet") {
      align-self: flex-end;
      justify-self: center;
      max-width: 345px;
    }
  }
  &__pic {
    margin-bottom: 20px;
  }
  &__feedback {
    font-family: "Lato";
    font-style: italic;
    @include font("Lato", 16px, map-get($colors, white), 700, 24px);
  }
  &__info {
    margin: auto 20px;
    @include font("Lato", 14px, map-get($colors, white), 400, 21px);
    color: map-get($fontColors, lightViolet);
    @include mq("tablet") {
      margin: auto 50px;
    }
    @include mq("desktop") {
      margin: auto;
      max-width: 890px;
    }
  }
}
