.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 90px;
    @include mq("tablet") {
        flex-wrap: nowrap;
        margin-bottom: 70px;
    }
    &__link {
        @include font("Montserrat", 11px, map-get($fontColors, black), 650, 10px);
        text-decoration: none;
        display: flex;
    }
    &__btn {
        border: solid 1px map-get($colors,borderSocialBtn);
        background:  map-get($colors, backgroundSocialBtn);
        border-radius: 2px;
        padding: 5px 8px;
    }
    &__views {
        padding: 5px 8px;
        border: solid 1px map-get($colors,borderSocialBtn);
        border-radius: 2px;
    }
}