.toggle-button {
  box-sizing: border-box;
  position: relative;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  width: 26px;
  background: map-get($colors, backgroundNav);
  cursor: pointer;
  border: none;
  padding: 0;
  &--active {
    gap: 0;
    height: 21px;
    .toggle-button__bar {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
        position: absolute;
      }
      &:nth-child(3) {
        transform: rotate(135deg);
        position: absolute;
      }
    }
  }
  &__bar {
    display: block;
    width: 26px;
    height: 3px;
    border-radius: 20%;
    background: map-get($colors, white);
  }
  @include mq("tablet") {
    display: none;
  }
  &__bar--short {
    width: 15px;
  }
}
