@import "./variables/variables";
@import "./mixins/mixins";
@import "./reset";
@import "./fonts/fonts";
@import "./components/nav";
@import "./components/toggleBtn";
@import "./components/btn";
@import "./components/hero";
@import "./components/revolution";
@import "./components/social";
@import "./components/advantages";
@import "./components/reviews";
@import "./components/price";

.header {
  position: relative;
  background-image: url("../dist/img/background_img_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  height: 700px;
  @include mq("tablet") {
    height: 800px;
  }
}

.header-wrap {
  height: 100%;
}

.container {
  min-width: 320px;
  margin: auto 20px;
  @include mq("desktopContainer") {
    margin: auto;

    max-width: 1040px;
  }
}
