//colors

$colors: (
  violet: #8d81ac,
  white: #ffffff,
  backgroundNav: #27262a,
  backgroundGray: #f4f4f4,
  backgroundVerticalNav: #333333,
  backgroundSocialBtn: #f6f8fa,
  borderSocialBtn: rgba(31, 35, 40, 0.15),
);

$fontColors: (
  darkViolet: #635c73,
  lightViolet: #a291a5,
  black: #323232,
  gray: #848e97,
);

//icon colors

// breakpoints

$breakpoints: (
  "phone": 320px,
  "tablet": 481px,
  "tablet-h": 700px,
  "desktop": 993px,
  "desktop-h": 1200px,
  "desktopContainer": 1080px,
);
